header{
    width: 100%;
    height: 5rem;
    padding: 1rem;

    display: flex;
    align-items: center;
    justify-content: space-between;


    background-color: #292929;
    color: white;


}

.hamburger-icon{
    font-size: 1.5rem;
}